screenshotmatcher/www/results/*
!screenshotmatcher/www/results/.gitkeep

screenshotmatcher/testing/logs/*
!screenshotmatcher/testing/logs/.gitkeep

id.txt

match.log
server.log

__pycache__/
*.py[cod]
*$py.class

Thumbs.db

build
dist
.venv
main.spec
show_qr.spec
ScreenshotMatcher.spec